<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Photo <small> complex</small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 text-right">
          <h4 class="top-info"><i class="fa fa-tags"></i> tags</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">ALL</a></li>
            <li role="presentation"><a href="#">untag</a></li>
            <% @tags.each do |tag| %>
            <li role="presentation"><a href="#"><%= tag.content %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <span id="notice"><%= notice %></span>
        </div>
        <div class="col-md-6 text-right">
          <h4 class="top-info" id="paginator_info">
            <i class="fa fa-file-photo-o"></i>
            <%= page_entries_info @photos %>
          </h4>
        </div>
      </div>
      <div id="photos" class="row">
        <%= render @photos %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="paginator">
            <%= paginate @photos, right: 1, remote: true %>
          </div>
        </div>
      </div>

      <br>

      <%= link_to 'New Photo', new_photo_path %>
    </div>
  </div>
</div>
