<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<div id="paginator_info">
  <%= page_entries_info @photos %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="photos">
    <%= render @photos %>
  </tbody>
</table>
<div id="paginator">
  <%= paginate @photos, right: 2, remote: true %>
</div>

<br>

<%= link_to 'New Photo', new_photo_path %>
